@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

input {
  border: none;
  padding: 10px 30px;
}

input:focus {
  outline: none;
}

form {
  margin-top: 30px;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  padding: 20px;
}

.Add {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: bisque;
}

.Add:hover {
  background-color: burlywood;
  transition: 0.5s ease;
  color: #fff;
}

li {
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

span {
  font-size: 1.6rem;
  cursor: pointer;
  display: block;
  font-weight: lighter;
}

li button {
  background-color: red;
  cursor: pointer;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

li:nth-child(even) {
  background-color: rgb(221,
      221,
      221);
}

.completed {
  color: #ccc;
}

.header{
  width: 100%;
}

.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  background-color: bisque;
  padding: 5px 10px;
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
}

.links a:hover {
  background-color: burlywood;
  transition: 0.5s ease;
  color: #fff;
}

.signForm {
  display: flex;
  flex-direction: column;
}

.signForm input {
  margin: 10px 0;
}


.log {
  background-color: bisque;
  padding: 5px 10px;
  font-size: 1.1rem;
  color: #333;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.log:hover {
  background-color: burlywood;
  transition: 0.5s ease;
  color: #fff;
}